  <div class="row">
	  	<div class="col-md-4">
	  		<%= image_tag post.picture.url(:medium), class: 'uploaded-pic, img-rounded'%>
	  		<p><%= post.description %>
	  			<%= post.tags.each do |tag| %>
	  				<%= link_to tag.name, tag %>
	  			<% end %>
	  		</p>
	  		<p><%= link_to 'Delete', post_path(post), method: :delete, class: 'btn btn-danger' %>
	  			<%= link_to 'Add a comment', new_post_comment_path(post), class: 'btn btn-primary' %>

	  		</p>
	  	</div>
  </div>