<% if @post.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

		<ul>
		<% @post.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
	</div>
<% end %>

<%= form_for @post, html: { multipart: true } do |f| %>
	<%= f.label :description %>
	<%= f.text_area :description %>

	<%= f.label :tag_names, 'Tags' %>
	<%= f.text_field :tag_names %>

	<%= f.label :picture %>
	<%= f.file_field :picture %>

	<%= f.submit %>
<% end %>
